* {
    margin: unset;
    padding: unset;
}

body {

    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #232323;
}


section {
    position: relative;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div>img{
    max-width: 90%;
    border-radius: 20px;
    margin-bottom: 3rem;
    max-height: 15rem;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: #f87f28;
    letter-spacing: 0.1rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

div:nth-of-type(1)>p {
    letter-spacing: 0.5rem;
    line-height: 3rem;
    font-weight: 400;
    max-width: 90%;
    padding-bottom: 6rem;
    font-size: 1rem;
    text-indent: 2rem;
}

div:nth-of-type(1)>p::first-letter {
    color: yellowgreen;
    font-size: 1.5rem;
}

div:nth-of-type(1)>p>span:nth-child(1) {
    color: brown;
    font-size: 1.2rem;
}

p>b:nth-of-type(1)>span:nth-child(1) {
    color: chartreuse;
    font-size: 1.5rem;
    padding-left: 2rem;
}

p>b:nth-of-type(1)>span:nth-child(2) {
    color: crimson;
    font-size: 1.2rem;
}

p>span:nth-child(3) {
    color: darkred;
    font-size: 1.2rem;
}

p>span:nth-child(8) {
    color: darkturquoise;
    font-size: 1.5rem;
    padding-left: 2rem;
}

p>b:nth-of-type(2)>span:nth-child(1) {
    font-size: 1.2rem;
    color: red;
}

p>b:nth-of-type(2)>span:nth-child(2) {
    color: yellow;
    font-size: 1.2rem;
}




h2{
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

div:nth-of-type(2)>p{
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    padding-bottom: 3rem;
    max-width: 90%;
    line-height: 1.5rem;
}

h3{
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 2rem;
    text-align: center;
}

article{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 90%;
    padding-bottom: 6rem;
}

@media (min-width : 1024px){
    

    div{
        flex-direction: row-reverse;
        max-width : 90%;
        padding-top: 5rem;
    }

    div:nth-of-type(1)>p{
        max-width : 70%;
        padding-right: 20%;
    }

    div>img{
        max-width: 35%;
        max-height: 25rem;
    }
    div:nth-of-type(1)>p{
        text-indent: 1rem;
    }

    p>b:nth-of-type(1)>span:nth-child(1){
        padding-left: 1rem;
    }

    p>span:nth-child(8) {
        padding-left: 1rem;
    }

    div:nth-of-type(2){
        flex-direction: column;
        align-items: center;
    }

    div:nth-of-type(2)>p{
       max-width : 75%;
       text-align: center;
    }
}