body{
    margin:unset;
    padding:unset;
    color: white;
}

div{
    background: right 30% center fixed url(badminton.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top:0;
    left: 0;
    filter: brightness(70%);
}
section{
    box-shadow: inset 34px -34px 34px rgba(149, 149, 149, 0.3),
    inset -34px 34px 34px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    top:0;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
}

